<footer>
    <div class="container">

       

        <div class="row">
            <div class="col-12 col-md-8">
                    <div class="footer__contact-us">
                        <h3 class="footer--title">Contact us</h3>
                        <h4><a href="tel:0121 711 7300">+233 267 626 632</a></h4>
                        <h4><a href="">info@hotspot.com</a></h4>
                    </div>

                    <ul class="social-links">
                        <li>
                            <a href="" target="_blank" aria-label="Facebook">
                                <span class="inline-image lazy" data-src="https://renewalcc.com/app/uploads/2018/08/facebook.svg" data-was-processed="true" style="background-image: url(&quot;https://renewalcc.com/app/uploads/2018/08/facebook.svg&quot;);"></span>        
                            </a>
                        </li>
                        
                    
                        <li>
                            <a href="https://www.instagram.com/renewalcc/" target="_blank" aria-label="Instagram">
                                <span class="inline-image lazy" data-src="https://renewalcc.com/app/uploads/2018/08/Instagram.svg" data-was-processed="true" style="background-image: url(&quot;https://renewalcc.com/app/uploads/2018/08/Instagram.svg&quot;);"></span>       
                            </a>
                        </li>
                        
                    
                        <li>
                            <a href="https://twitter.com/renewalcc" target="_blank" aria-label="Twitter">
                                <span class="inline-image lazy" data-src="https://renewalcc.com/app/uploads/2018/08/Twitter.svg" data-was-processed="true" style="background-image: url(&quot;https://renewalcc.com/app/uploads/2018/08/Twitter.svg&quot;);"></span>        
                            </a>
                        </li>
                    </ul>

            </div>
            <div class="col-12 col-md-2">
                    <div class="footer__location">
                       
                            <h3 class="footer--title">
                                <i class="fas fa-map-marker-alt"></i> 
                            Links</h3>
                       
                        <span>
                            <a href="">About</a>
                        </span>
                        <span><a href="">Terms of Use</a></span>
                        <span><a href="">Privacy Policy</a></span>
                    </div>


            </div>
            <div class="col-12 col-md-2">
                    <div class="footer__location">
                            
                                <h3 class="footer--title">
                                    <i class="fas fa-map-marker-alt"></i> 
                                Links</h3>
                            
                            <span>
                                <a href="">About</a>
                            </span>
                            <span><a href="">Terms of Use</a></span>
                            <span><a href="">Privacy Policy</a></span>
                        </div>

            </div>

        </div>

        <div class="d-flex justify-content-center footer__copyright">
                <span>© 2019 Whatever Name |  All Rights Reserved </span>
        </div>

    </div>
</footer>