.searchcontent{

    .group{

        width: 30%;

        @media (max-width: 992px){
            width: unset;
        }

        .event_range{
            display: inline-flex;
            border: 2px solid #e1e1e1;
            border-radius: 0px 10px 10px 0px;
            overflow: hidden;
            height: 60px;
            border-left: none;
            width: 100%;

            @media (max-width: 992px){
                border-radius: 0 0px 10px 10px;
                border-top: none;
            }

            .end-date{
                input{
                    border-left: none !important;
                }
              
            }

            input{
                border: none;
                max-width: unset !important;
                // width: 180px;
                min-width: unset;



                    &.end-date{
                        border-left: none !important;
                    }
                   
            }
        }

        &:nth-of-type(1){

            input{
                border-radius: 10px 0px 0px 10px;
                border-right: none;

                @media (max-width: 992px){
                    border-radius: 10px 0 0 0px;
                    border-right: 2px solid #e1e1e1;
                }

                @media (max-width: 768px){
                    border-radius: 10px 10px 0 0;
                    border-bottom: none;
                }
            }
           
        }

        &:nth-of-type(2){

            input,select{
                border-radius: 0;
                // border-right: none;

                @media (max-width: 992px){
                    border-radius: 0px 10px 0 0px;
                    border-left:none;
                    border-right: 2px solid #e1e1e1;
                   
                }

                
                @media (max-width: 768px){
                    border-radius: 0px;
                    border-left: 2px solid #e1e1e1;
                }
            }
           
        }

        &:nth-of-type(3){

            @media (max-width: 992px){
                flex: 1 1 auto !important;
            }

            input,select{
                border-radius: 0px 10px 10px 0px;
                 border-left: none;
                

              
                @media (max-width: 992px){
                    border-radius: 0px 0px 10px 10px;
                    border-top: none;
                    flex: 1 1 auto !important;
                    border-left: 2px solid #e1e1e1;
                }

                @media (max-width: 768px){
                    border-radius: 0 0px 10px 10px;
                    border-top: none;
                }
               
            }
           
        }

        input{
            min-width: 300px;
            border: none;
            // border-left: 1px solid rgb(10, 10, 10) !important;
            height: 60px;
            background: transparent;
            font-size: 16px!important;
            color: #e1e1e1;
            line-height: 28px;
            border: 2px solid #e1e1e1;

            // &:focus{
                // border: none;
                // box-shadow: none;
                // border-left: 2px solid #c53315!important;
            // }

            &:focus~label,:valid~label{
                top: -28px;
                left: 0px;
                color: white;
            }

            &::placeholder{
                color: #e1e1e1;
            }

           
        }

        select{
            min-width: 300px;
            background: none;
            width: 100%;
            border: 2px solid #e1e1e1;
            border-radius: 0;
            height: 60px;
            text-indent: 20px;
            -webkit-box-shadow: 0 10px 10px rgba(29,33,43,.02);
            box-shadow: 0 10px 10px rgba(29,33,43,.02);
            font-size: 16px!important;
            color: #e1e1e1;
            line-height: 28px;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            // background: #fff;
            // margin: 0 0 10px;
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: calc(100% - 16px);
            background: transparent url(../../dist/images/caret.svg) no-repeat right 0.75rem center;
            background-size: 11px;
        }

        

        label{
            left: 15px;
            top: 11px;
        }
    }


    a , button{
        border: 2px solid #e1e1e1;
        color: #e1e1e1;
        position: relative;
        font-size: 16px ;
        background-color: transparent!important;

        &:hover{
            text-decoration: none;
        }
    }
   
}


.recomendered_timeline{

    // .timeline-head{

    // }

    .long_tiles{
        border-radius: 20px;
        overflow: hidden;


        .tiles{
            height: 350px;
            cursor: pointer;
            width: 100%;
            background-size: cover;
             background-repeat: no-repeat;
             background-position: center;
            position: relative;
            color: rgb(255, 255, 255);
            display: inline-block;
            box-sizing: border-box;
            overflow: hidden;


            @media (max-width: 992px){
                height: 171px;
            }

            &:not(:last-child){
                border-right: 2px solid rgb(255, 255, 255);
            }

            .title-container{

                @media (max-width: 992px){
                    background: rgba(26, 20, 31, 0.5019607843137255);
                }


                .title{
                    // font-size: 1.4rem;
                    // line-height: 1.875rem;
                    color: #fff;
                    // font-weight: 300;

                    font-size: 24px;
                    line-height: 16px;
                    margin: 0;
                    letter-spacing: -.9px;
                    font-weight: 500;
                    position: relative;
                    // z-index: 1;
                    transition: .2s;

                    @media (max-width: 576px) {
                        font-size: 20px;
                        font-weight: 600;
    
                    }
                }


                .subtitle{
                    font-size: 0.7rem;
                    line-height: 1.5rem;
                    position: relative;
                    display: inline-block;
                    color: rgb(255, 255, 255);
                    font-weight: 100;
                }
            }
        }
    }
}

.event_list{
    // overflow: auto;
    padding: 66px 0 58px;

    .card:not(:last-child){
        margin-right: 25px;

    }

    a{

        &:hover{
            text-decoration: none;
        }

    }

    .card:not(:last-child){ 
            margin-right: 25px;
    }

    .card{
        overflow: hidden;
        border-radius: 20px;
        min-width: 289px;
    }
}

.big--card{
    position: relative;

    &::before{
        // content: "";
        position: absolute;
        top: 0;
        left: 30px;
        background-image: url(../../dist/images/pattern.png);
        background-position: left center;
        height: 100%;
        width: 1400px;
        background-size: cover;
        display: block;
        pointer-events: none;
        background-repeat: no-repeat;
        filter: brightness(50%);
    }
        .card{
        width: 100% !important;
        max-width: unset;

        .card-img{
            border-radius: 0;
            height: 318px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
        }
    }
} 


.small--card{
    position: relative;
    padding: 54px 0 65px;

    .card{
        // width: 22.75%;
        min-height: 340px;
        height: 340px;
        margin-right: 2%;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // padding: 37px 0;
        border-radius: 20px;
        overflow: hidden;
        max-width: unset;
        width: 23%;

        &:nth-child(4n){
            margin-right: 0;
        }

        a{
            height: inherit;
        }

        .card-img-overlay{
            background: -webkit-gradient(linear,left bottom,left top,from(#1a1d28),color-stop(45.56%,rgba(29, 31, 44, 0.54)),to(transparent));
            background: -webkit-linear-gradient(bottom,#1a1d28,rgba(29, 31, 44, 0.54) 45.56%,transparent);
            background: -o-linear-gradient(bottom,#1a1d28 0,rgba(29, 31, 44, 0.54) 45.56%,transparent 100%);
            background: linear-gradient(0deg,rgba(26, 29, 40, 0.6),rgba(29, 31, 44, 0.54) 45.56%,transparent);
            border-radius: 20px;
           

            .card-title{
                font-size: 24px;
                line-height: 16px;
                margin: 0;
                letter-spacing: -.9px;;
                font-weight: 500;
                position: relative;
                z-index: 1;
                -webkit-transition: .2s;
                -o-transition: .2s;
                transition: .2s;
                color: white;

                @media (max-width: 576px) {
                    font-size: 20px;

                }
            }

            @media (max-width: 992px) {
                background: rgba(26, 20, 31, 0.5019607843137255);
            }
        }


        @media (max-width: 992px) {
            width: 47% !important;
            height: 115px;
            min-height: 115px;

            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }

    .card-img{
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;

    }
}

.medium--card{
    position: relative;
    padding: 54px 0 65px;

    .card{
        // width: 22.75%;
        margin-right: 2%;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // padding: 37px 0;
        border-radius: 20px;
        overflow: hidden;
        max-width: unset;
        cursor: pointer;


        &.big{
            width: 48%;

            @media (max-width: 576px) {
                width: 98%;
            }
        }

        &.semi{
            width: 30%;
            height: 223px;

            @media (max-width: 576px) {
                width: 98% !important;
                height: 115px;
            }

            @media (max-width: 992px) {
                width: 48%;
                height: 115px;
            }

            &.last{

                @media (max-width: 992px) {
                    width: 98%;
                }

            }

        }

        // &:nth-child(4n){
        //     margin-right: 0;
        // }

        .card-img-overlay{
            background: -webkit-gradient(linear,left bottom,left top,from(rgba(26, 29, 40, 0.6)),color-stop(45.56%,rgba(29, 31, 44, 0.54)),to(transparent));
            background: -webkit-linear-gradient(bottom,rgba(26, 29, 40, 0.6),rgba(29, 31, 44, 0.54) 45.56%,transparent);
            background: -o-linear-gradient(bottom,rgba(26, 29, 40, 0.6) 0,rgba(29, 31, 44, 0.54) 45.56%,transparent 100%);
            background: linear-gradient(0deg,rgba(26, 29, 40, 0.6),rgba(29, 31, 44, 0.54) 45.56%,transparent);
            border-radius: 20px;
           

            .card-title{
                font-size: 24px;
                line-height: 16px;
                margin: 0;
                letter-spacing: -.9px;;
                font-weight: 800;
                position: relative;
                z-index: 1;
                -webkit-transition: .2s;
                -o-transition: .2s;
                transition: .2s;
                color: white;

                @media (max-width: 576px) {
                    font-size: 20px;

                }
            }

            @media (max-width: 992px) {
                background: rgba(26, 20, 31, 0.5019607843137255);
            }
        }


        @media (max-width: 992px) {
            height: 115px;
            min-height: 115px;

            // &:nth-child(2n){
            //     margin-right: 0;
            // }
        }
    }

    .card-img{
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;

    }
}

.create-event-banner{
    // background-image: url(../../dist/images/002.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    height: 100px;
    // background-position: center;
    // position: relative;

    // background: #161822; 
    background: #c33421;


    h4{
        color: #fff;
    }

    a{
        border: 1px solid #fcd27b;

        &:hover{
            text-decoration: none;
        }
    }

   

    // &::after{
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     background: rgba(26, 20, 31, 0.5019607843137255);
    // }
}


.happening_now{
    background: #f5f5f5;
    height: 64px;

    h5{
        display: block;
        color: #00c670;
        text-transform: uppercase;
        font-size: 15px;
        font-family: cera-pro-bold,sans-serif;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: .75px;

        
        @media (max-width: 576px) {
            font-size: 13px;
        }
    }

    a{
        display: block;
        font-size: 15px;

        @media (max-width: 576px) {
            font-size: 13px;
        }
    }
}

.text-block{
    text-align: center!important;
    padding: 95px 0 100px;
    max-width: 760px;

    @media (max-width: 576px) {
        padding: 35px 15px 40px;
        max-width: 540px;
    }

    h3{
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -1px;
        margin: 0 0 31px;
        // color: #00c670;

        @media (max-width: 768px){
            font-size: 30px;
            margin: 0 0 20px;
            line-height: 40px;
        }

        @media (max-width: 576px) {
            font-size: 20px;
        }
    }

    p{
        color: #9b9997;
        margin: 0 0 30px;
        font-size: 18px;
        line-height: 32px;


        @media (max-width: 768px){
            font-size: 16px;
            line-height: 30px;
        }
    }
}