

label{
    position: unset;
    font-weight: 700;
    font-size: 20px;
    color: #696868;
}


.form-control{
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    height: 50px;
    text-indent: 20px;
    box-shadow: 0 10px 10px rgba(29,33,43,.02);
    font-size: 16px!important;
    color: #83848a;
    line-height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;


    &:focus,&:hover{
        background: white;
        border: 1px solid #e1e1e1;
        box-shadow: 0 10px 10px rgba(29, 33, 43, 0.09);
    }

    &::placeholder{
        color: #b8b7b7;
    }
}

.image-poster{
    height: 240px;
    border: 1px dashed #c5c3c3;
    border-radius: 10px;

    background-image: url("../../../app/dist/images/image.png");
    background-repeat:no-repeat; 
    background-position: center;

    &:focus,&:hover{
        box-shadow: 0 10px 10px rgba(29, 33, 43, 0.09);
    }
}